  .agree-checkbox {
    font-size: 0.9em;
  }

.CustomerRegisterButton:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #666666;
}
.CustomerRegisterButton:disabled::before {
  background-color: #cccccc;
  color: #666666;
}