@charset "utf-8";

/**
 * ----------------------------------------------------------------------------------------------
 * This is a variation of Normalize.css (http://necolas.github.io/normalize.css/)
 * ----------------------------------------------------------------------------------------------
 */
/**
 * Base
 */



 /* セクション */
 .Heading{
  font-weight: bold;
 }
.AnnouncementBar__Wrapper{
  padding: 10px 0 0;
}
.AnnouncementBar__Wrapper .Heading{
  font-weight: normal;
}
.FeaturedMap .Heading{
  color: #1c1b1b;;
}
.section_map_customize{
  background: #e2e6ea;
  padding: 50px 0
}
.section_map_customize iframe {
  width: 100%;
  aspect-ratio: 78/55;
}
#insta-feed{
  padding: 30px 0;
}
.js .TestimonialList .flickity-page-dots{
  margin-top: 110px;
}
@media screen and (max-width: 640px){
  .Testimonial__Logo{
    margin-top: 24px;
  }
}
@media screen and (min-width: 641px) {
  .AnnouncementBar__Wrapper{
    padding: 18px 50px 0;
  }
  .AnnouncementBar__Wrapper .Heading{
    text-align: left;
  }
  #insta-feed {
    padding: 80px 0;
    margin: 0 auto;
  }
  .section_map_customize{
    padding: 80px 0;
  }
}



 /* ご利用案内ページ */
.section_step{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section_step__header{
  font-weight: bold;
}
.section_step__body{
  margin: 0;
    margin-top: 1rem;
}
@media screen and (min-width: 641px) {
  .section_step{
    flex-direction: row;
  }
  .section_step__number{
    width: 20%;
    margin: 0;
  }
}


.section_cancel{

}